/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.body {
    max-width: 120rem;
    margin: 0 auto;
}


/* Space-down */

.space-white {
    width: 100%;
    height: 5.2rem;
    background: white;
}

.space-down {
    position: fixed;
    width: 100%;
    height: 4.2rem;
    background: white;
}

/* MENU */

.menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-width: 120rem;
    width: 100%;
    align-items: center;
    z-index: 1;
}


.menu-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: white;
}

.menu-list a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #F732F6;
}

.menu-list a:hover {
    background: #732F61;
    transition: all 500ms ease-in-out;
    color: #fc97d0;
}

.img-logo {
    width: 4rem;
    height: auto;
}

/* CONTAINER */

.container {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    
}

.container > * {
    padding: 1rem;
    flex: 1 100%;
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.folder {
    background: lightsalmon;
    width: 100%;
    height: 10rem;
    
}

/* Intro AMAJES */

.intro {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 55rem;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 5rem;
}

.intro img {
    width: 100%;
    height: auto;
    min-width: 25rem;
    padding-left: 1rem;
}

.intro-text {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    max-width: 60rem;
    max-height: 40rem;
    min-width: 28rem;
}

.intro-text p {
    text-align: justify;
}